version: "3.8"

services:
  kestra:
    image: kestra/kestra:latest
    container_name: kestra
    command: server standalone
    ports:
      - "8080:8080"
    environment:
      KESTRA_CONFIGURATION: |
        kestra:
          repository:
            type: h2
          queue:
            type: memory
          storage:
            type: local
            local:
              base-path: "/app/storage"
    volumes:
      - kestra-data:/app/storage
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  kestra-data:
